@media (max-width: 900px){
    nav {
        background-color: #03045e;
    }


    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #caf0f8;
        font-size: 24px;
    }

    .nav-itens{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img{
        max-width: 70px;
    }

    .nav-itens ul{
        list-style-type: none;
        padding: 1em;
        font-size: 24px;
    }    

    .nav-itens li a{
        color: #caf0f8;
        text-decoration: none;
        
    }

    .nav-itens li{
        margin-top: 1em;
        padding: 1em;
        transition: .5s;
        cursor: pointer;
        color: #caf0f8;
    }

    .nav-itens li:hover{
        border: 2px solid #caf0f8;
        border-radius: 10px;
    }

    .nav-itens li img{
        width: 30px;
    }

    .form-container{
        text-align: center;
        margin-bottom: 30px;
    }

    .form-container form{
        background-color: #03045e;
        font-size: 24px;
        width: 500px;
        margin: 0 auto;
        border-radius: 10px;
    }

    .form-container form label{
        color: #caf0f8;
    }

    .form-container form input{
        font-size: 1em;
        padding: .3em;
    }

    .form-container form input[type="submit"]{
        background-color: green;
        padding: .5em;
        border-radius: 10px;
        border: 1px solid #03045e;
        cursor: pointer;
        color: black;
    }

    footer{
        background-color: #03045e;
        color: #caf0f8;
        height: 50px;
        text-align: center;
        font-size: 24px;
        padding: 1em;
    }

    .container-main img{
        display: none;
    }

    .createTasks{
        margin-top: 10px;
    }

    .createTasks form{
        width: 300px;
        margin: 0 auto;
    }

    .createTasks form label{
        font-size: 24px;
        display: block;
    }

    .createTasks form input{
        font-size: 24px;
    }

    .createTasks form input[type="submit"]{
        background-color: #03045e;
        color: #caf0f8;
        cursor: pointer;
        padding: .5em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .userTasks ul{
        list-style-type: none;
    }

    .userTasks ul li{
        font-size: 24px;
        padding: .3em;
    }

    .userTasks ul li img{
        width: 50px;
    }

    .userTasks ul form input[type="submit"]{
        background-color: #FF6347;
        color: #03045e;
        margin-bottom: 10px;
        font-size: 24px;
        padding: .2em;
        border-radius: 10px;
        cursor: pointer;
    }

    .userTasks p{
        font-size: 24px;
        margin: 5em;
    }

    .userTasks p a{
        color: #03045e;
        text-decoration: none;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
    background-color: #caf0f8;
}

@media (min-width: 901px){
        nav {
            background-color: #03045e;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


    footer {
        background-color: #03045e;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: #caf0f8;
    }


    .logo img{
        max-width: 70px;
        margin: 0 auto;
    }

    .logo{
        margin: 1em;
        display: flex;
        align-items: center;
        color: #caf0f8
    }

    .logo span{
        margin-left: 1em;
        font-size: 24px;
    }

    .nav-itens ul{
        display: flex;
    }

    .nav-itens li{
        list-style: none;
        margin-left: 2em;
        margin-right: 2em;
        transition: .5s;
        padding: 2em;
        border-radius: 5px;
        color:#caf0f8;
        font: 24px;
    }

    .nav-itens li img{
        width: 20px;
        margin-top: -8px;
    }

    .nav-itens li:hover{
        list-style: none;
        margin-left: 2em;
        margin-right: 2em;
        padding: 2em;
        border: 1px solid #caf0f8;
    }

    .nav-itens li a{
    text-decoration: none;
    color: #caf0f8;
    }

    .container-main img{
        max-width: 50em;
        margin: 3em;
        border-radius: 15px;
    }
}

.messages{
    color:#caf0f8;
    background-color: #FF6347;
    text-align: center;
    font-size: 24px;

}

.container-main{
    background-color: #caf0f8;
    display: flex;
}



.container-main ul{
    margin: 3em auto;
}

.container-main hr{
    background-color: black;
    height: 2px;
    margin-top: 1em;
}

.container-main li{
    margin-top: 1em;
}

@media (min-width: 901px){
    .form-container{
        background-color: #caf0f8;
        text-align: center;
        height: 32em;
    }

    .form-container form{
        background-color: #03045e;
        width: 50em;
        margin: 0 auto;
        padding: 1em 2em 3em 2em;
        border-radius: 15px;
        color: #caf0f8;
    }


    .form-container label{
        font-size: 22px;
    }

    .form-container input{
        width: 20em;
        font-size: 22px;
    }

    .form-container input[type="submit"]{
        background-color: green;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        cursor: pointer;
    }

    .createTasks{
        margin: 0 auto;
        width: 25%;
        height: 400px;
        padding: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .createTasks form label{
        display: block;
        font-size: 24px;
    }

    .createTasks form input{
        display: block;
        font-size: 24px;
        width: 540px;
    }

    .createTasks form input[ type="submit"]{
        background-color: #03045e;
        color: #caf0f8;
        cursor: pointer;
        border-radius: 10px;
        padding: .3em;
    }

    .userTasks ul li,
    .userTasks ul form input{
        list-style-type: none;
        margin-right: 1em;
        border-right: 3px solid #03045e;
        padding: 1em;
        font-size: 24px;
    }

    .userTasks ul form input{
        text-decoration: none;
        color: #03045e;
        cursor: pointer;
    }

    .userTasks ul li img{
        max-width: 30px;
    }

    .userTasks ul form input[type="submit"]{
        background-color: #FF6347;
        color: #03045e;
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
    }

    .taskView{
        margin: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .userTasks p{
        font-size: 24px;
        margin: 10% auto;
        width: 550px;
        height:200px;
    }

    .userTasks p a{
        text-decoration: none;
        color: #03045e;
        cursor: pointer;
    }
}
