<div class="container-main">
        <img src="/img/main.jpg" alt="">
        <ul>
            <li>Você Se Esquece Das Tarefas Facilmente?</li>
            <p>Com essa aplicação você pode organizar suas tarefas e conseguir cumprir todas</p>
            <hr>

            <li>Você tem dificuldade em utilizar aplicações?</li>
            <p>Esta aplicação é simples, fácil e intuitiva para usar</p>
            <hr>

            <li>Como iniciar?</li>
            <p><a href="/createTask">Clique Aqui</a> e crie suas tarefas gratuitamente</p>
            <hr>
        </ul>
</div>