<div class="createTasks">
    <form action="/createTaskPost" method="POST">
        <label for="nameTask">Tarefa:</label>
        <input type="text" name="nameTask" placeholder="Coloque A Tarefa Aqui"><br>
        <label for="level">Nível de Prioridade:</label>
        <input type="text" name="level" placeholder="Prioridade"><br>
        <input type="submit" value="Adicionar Tarefa">
    </form>
</div>


